.App {
  text-align: center;
  position: relative;
}

.cart {
  text-align: center;
  position: relative;
}

.cart img{
  width: 100%;
  height: auto;
}


.cartItemsCont{
  max-width: 1200px;
  margin: auto;
  border: 1px solid;
  
}

.cartItem{
  padding: 10px;
  border: 1px solid;
}

.cartButtonsCont{
  display: flex;
}

.cartItem button{
  padding: 10px;
}

  .body {
  height: 100vh;
}

body {
  background-color: white;
}

.navBar {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  position: sticky;
  top: 0px;
  background-color: whitesmoke;
}

nav {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  width: 60px;
  height: 60px;
  background-color: black;
}

.itemComponent {
  border: 1px solid;
  margin: 5px;
  padding: 10px;
}
.itemComponent img {
  width: 100%;
  height: auto;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}
.buttonsContainer button {
  border: 1px solid;
  padding: 5px;
}

.buttonsContainer > div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.buttonsContainer > div > button,
span {
  flex: 1;
}

.cartItem {
  display: flex;
}

.cartAmount{
  display: inline-block;
  padding: 10px 17px;
  margin-left: 10px;
  border-radius: 50%;
  color: white;
  background-color: #424242;
}